%li.announcement{id: "announcement_#{announcement.id}"}
  .row.well
    .col-md-10
      = announcement.body
    .col-md-1
      = link_to group_announcement_path(announcement.group, announcement), remote: true,  method: "DELETE" do
        %i.glyphicon.glyphicon-remove
