- @group ||= group
- @membership ||= current_user.memberships.where(group_id: @group.id).first
.btn.btn-warning.v_margin
  = link_to "Leave Group", group_membership_path(@group, @membership), method: "delete", data: {confirm: "Are you sure you want to leave this group?"}, remote: true
