- @event ||= Event.find(@event_id.to_i)
- @rsvp = Rsvp.where(user: current_user, event: @event).first

.btn.btn-warning.v_margin
  = link_to "un-RSVP", change_event_rsvp_path(@event, @rsvp, going: false), method: "post", remote: false
