.home_page_wlecome_div
  %h1 Welcome to  My People
  %h3 Meet People
  %h3 Do Cool Stuff
  .sign_up.btn.btn-success
    = link_to "Sign Up", new_user_path
  .sign_in.btn.btn-primary
    = link_to "Sign In", sign_in_path
