.show_event_main
  .row
    %header
      .col-md-8
        %h2 Super cool event title
        %h5 101 Main Street, Detroit, Michigan
        %small January 12th, 2016 @ 5:00PM
      .col-md-2
        %h4 Created by
        %h5 John Smith
      .col-md-2
        %img.circle{:src => "http://placehold.it/100x100"}/


  %p.well Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum inventore perferendis voluptatibus eos harum esse, rerum, facilis quod porro iste odio quia, facere consectetur nihil. Similique, consequuntur. Sunt nemo, voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum inventore perferendis voluptatibus eos harum esse, rerum, facilis quod porro iste odio quia, facere consectetur nihil. Similique, consequuntur. Sunt nemo, voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum inventore perferendis voluptatibus eos harum esse, rerum, facilis quod porro iste odio quia, facere consectetur nihil. Similique, consequuntur. Sunt nemo, voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum inventore perferendis voluptatibus eos harum esse, rerum, facilis quod porro iste odio quia, facere consectetur nihil. Similique, consequuntur. Sunt nemo, voluptas.

  %h4 Attendees
  %ul.nav.nav-tabs
    %li.active{:role => "presentation"}
      %a{:href => "#"} Going
    %li{:role => "presentation"}
      %a{:href => "#"} Not Going
  %ul.attendees.attendees_going
    %li.row.attendee
      .col-md-8.attendee_name John Smith
      .col-md-4
        %img.circle{:src => "http://placehold.it/100x100"}/
    %li.row.attendee
      .col-md-8.attendee_name John Smith
      .col-md-4
        %img.circle{:src => "http://placehold.it/100x100"}/
    %li.row.attendee
      .col-md-8.attendee_name John Smith
      .col-md-4
        %img.circle{:src => "http://placehold.it/100x100"}/
    %li.row.attendee
      .col-md-8.attendee_name John Smith
      .col-md-4
        %img.circle{:src => "http://placehold.it/100x100"}/


