.show_group_main
  %header.row
    .col-md-8
      %h1 Super cool group name
      %h5 24 Members
      %h5 Beijing, China
    .col-md-2
      %h4 Group Leader
      %h5 John Smith
    .col-md-2
      %img.circle{:src => "http://placehold.it/100x100"}/


  %p.well Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repudiandae voluptate non necessitatibus asperiores nam, qui quis accusamus pariatur ipsum animi, laboriosam in accusantium voluptates amet eaque voluptatem quos veniam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repudiandae voluptate non necessitatibus asperiores nam, qui quis accusamus pariatur ipsum animi, laboriosam in accusantium voluptates amet eaque voluptatem quos veniam?

  %h3 Announcements

  .well Welcome Everyone! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint neque quaerat beatae doloribus molestiae velit, alias quidem ab expedita, earum tempora nemo ipsum. Tempore quas, fugiat fuga magni ex facilis!

  %h4 Posts
  %hr/
  %form{:action => ""}
    %h4 Add new post
    %textarea.form-control{:rows => "3"}
    %input{:type => "submit", :value => "Add Post", class: "btn btn-sm btn-primary full_width add_post_button"}/
  %ul.group_posts
    %li.group_post
      .row
        %p.col-md-8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus excepturi, sapiente non odio, minima eum mollitia aut tenetur fugiat porro eos, voluptatem obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus excepturi, sapiente non odio, minima eum mollitia aut tenetur fugiat porro eos, voluptatem obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus excepturi, sapiente non odio, minima eum mollitia aut tenetur fugiat porro eos, voluptatem obcaecati. 
        .col-md-2
          %h5 John Smith
        .col-md-2
          %img.circle{:src => "http://placehold.it/100x100"}/
      %small  5 minutes ago
    %li.group_post
      .row
        %p.col-md-8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus excepturi, sapiente non odio, minima eum mollitia aut tenetur fugiat porro eos, voluptatem obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus excepturi, sapiente non odio, minima eum mollitia aut tenetur fugiat porro eos, voluptatem obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus excepturi, sapiente non odio, minima eum mollitia aut tenetur fugiat porro eos, voluptatem obcaecati. 
        .col-md-2
          %h5 John Smith
        .col-md-2
          %img.circle{:src => "http://placehold.it/100x100"}/
      %small  1 week ago
    %li.group_post
      .row
        %p.col-md-8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus excepturi, sapiente non odio, minima eum mollitia aut tenetur fugiat porro eos, voluptatem obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus excepturi, sapiente non odio, minima eum mollitia aut tenetur fugiat porro eos, voluptatem obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est delectus excepturi, sapiente non odio, minima eum mollitia aut tenetur fugiat porro eos, voluptatem obcaecati. 
        .col-md-2
          %h5 John Smith
        .col-md-2
          %img.circle{:src => "http://placehold.it/100x100"}/
      %small  January 10th, 2015
