.group_events_main
  %h1 Group Name's events
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %h3 Event Name
        %small January 02, 2016 3:30PM
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eveniet ipsam, neque alias iure impedit aperiam. Incidunt tempore illo fugiat provident non suscipit facere qui. Id inventore eveniet obcaecati illum!
        %a.btn.btn-primary{:href => "#", :role => "button"} RSVP
        %a.btn.btn-default{:href => "#", :role => "button"} Info
    .col-sm-6.col-md-4
      .thumbnail
        %h3 Event Name
        %small January 02, 2016 3:30PM
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eveniet ipsam, neque alias iure impedit aperiam. Incidunt tempore illo fugiat provident non suscipit facere qui. Id inventore eveniet obcaecati illum!
        %a.btn.btn-primary{:href => "#", :role => "button"} RSVP
        %a.btn.btn-default{:href => "#", :role => "button"} Info
    .col-sm-6.col-md-4
      .thumbnail
        %h3 Event Name
        %small January 02, 2016 3:30PM
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga eveniet ipsam, neque alias iure impedit aperiam. Incidunt tempore illo fugiat provident non suscipit facere qui. Id inventore eveniet obcaecati illum!
        %a.btn.btn-success{:href => "#", :role => "button"} Going
        %a.btn.btn-default{:href => "#", :role => "button"} Info
