.group_members_main
  %h1 Cool group's Members (223)
  %hr/
  %ul.group_members
    %li.member_preview.col-md-3
      %h4 John Smith
      %img.img-circle{:src => "http://placehold.it/100x100"}/
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minus obcaecati voluptatibus nobis. Enim molestias accusantium repudiandae temporibus natus laborum id totam, ipsa delectus aspernatur porro. Pariatur neque maxime magni.
    %li.member_preview.col-md-3
      %h4 John Smith
      %img.img-circle{:src => "http://placehold.it/100x100"}/
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minus obcaecati voluptatibus nobis. Enim molestias accusantium repudiandae temporibus natus laborum id totam, ipsa delectus aspernatur porro. Pariatur neque maxime magni.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minus obcaecati voluptatibus nobis. Enim molestias accusantium repudiandae temporibus natus laborum id totam, ipsa delectus aspernatur porro. Pariatur neque maxime magni. %li.member_preview.col-md-3
    %li.member_preview.col-md-3
      %h4 John Smith
      %img.img-circle{:src => "http://placehold.it/100x100"}/
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minus obcaecati voluptatibus nobis. Enim molestias accusantium repudiandae temporibus natus laborum id totam, ipsa delectus aspernatur porro. Pariatur neque maxime magni.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minus obcaecati voluptatibus nobis. Enim molestias accusantium repudiandae temporibus natus laborum id totam, ipsa delectus aspernatur porro. Pariatur neque maxime magni. %li.member_preview.col-md-3
     
    %li.member_preview.col-md-3
      %h4 John Smith
      %img.img-circle{:src => "http://placehold.it/100x100"}/
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minus obcaecati voluptatibus nobis. Enim molestias accusantium repudiandae temporibus natus laborum id totam, ipsa delectus aspernatur porro. Pariatur neque maxime magni.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste minus obcaecati voluptatibus nobis. Enim molestias accusantium repudiandae temporibus natus laborum id totam, ipsa delectus aspernatur porro. Pariatur neque maxime magni.
