.home_page_wlecome_div
  %h1 Welcome to  My People
  %h3 Meet People
  %h3 Do Cool Stuff
  .sign_up.btn.btn-success
    Sign Up
  .sign_in.btn.btn-primary
    Sign In
%hr/
.row.main_search_bar.add_side_padding
  %h4 Search Events
  .col-lg-6
    .input-group
      %input.form-control{:placeholder => "Search city name or zip code", :type => "text", :autofocus => true}
        %span.input-group-btn
          %button.btn.btn-default{:type => "button"} Find Events and Groups
    / /input-group
  / /.col-lg-6