%h1 Pages

%ul
  %li
    = link_to "Home", "ui/home"
  %li
    = link_to "Log In", "ui/log_in"
  %li Log Out
  %li Event
  %ul
    %li Show
    %li New
    %li Edit
  %li Group
  %ul
    %li Show
    %li Events
    %li Members
  %li User
  %ul
    %li New
    %li Show
    %li Follow
  %li City
  %ul
    %li View
    %li New
  %li Search
  %ul
    %li New
    %li Show results
