.search_results_main
  %h1 Search Results for "Beijing"
  %hr/
  %ul.search_results
    %li
      %h5 Beijing, China
      %p Groups: 3
      %p Events: 12     
    %li
      %h5 Beijing, Somewhere else
      %p Groups: 1
      %p Events: 0 