.show_user_main
  .row
    .col-md-8
      %h1 User's profile
    .col-md-2
      %h5 John Smith
    .col-md-2
      %img.circle{:src => "http://placehold.it/100x100"}/

  %ul.nav.nav-tabs
    %li.active{:role => "presentation"}
      %a{:href => "#"} Groups
    %li{:role => "presentation"}
      %a{:href => "#"} Events
  %ul.user_memberships
    %li.user_membership_preview
      .row
        %h3 Group name
      .row
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet saepe, voluptate, praesentium autem quasi quod iure natus quisquam unde at nostrum nam dolorum suscipit soluta ullam temporibus accusantium consectetur facere.
    %li.user_membership_preview
      .row
        %h3 Group name
      .row
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet saepe, voluptate, praesentium autem quasi quod iure natus quisquam unde at nostrum nam dolorum suscipit soluta ullam temporibus accusantium consectetur facere.
    %li.user_membership_preview
      .row
        %h3 Group name
      .row
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet saepe, voluptate, praesentium autem quasi quod iure natus quisquam unde at nostrum nam dolorum suscipit soluta ullam temporibus accusantium consectetur facere.
    %li.user_membership_preview
      .row
        %h3 Group name
      .row
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet saepe, voluptate, praesentium autem quasi quod iure natus quisquam unde at nostrum nam dolorum suscipit soluta ullam temporibus accusantium consectetur facere.
